body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:715px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:358px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:226px;
  width:544px;
  height:357px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:226px;
  width:136px;
  height:54px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:226px;
  width:136px;
  height:54px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:226px;
  width:136px;
  height:54px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:226px;
  width:136px;
  height:54px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:226px;
  width:136px;
  height:54px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:226px;
  width:136px;
  height:54px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:226px;
  width:136px;
  height:54px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:311px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:271px;
  width:542px;
  height:310px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:538px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:311px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:271px;
  width:542px;
  height:310px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:538px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:226px;
  width:136px;
  height:54px;
  color:#FFFFFF;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:311px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:271px;
  width:542px;
  height:310px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:538px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:311px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:271px;
  width:542px;
  height:310px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:147px;
  width:538px;
  word-wrap:break-word;
}
