body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:282px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:185px;
  width:254px;
  height:282px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:282px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:185px;
  width:254px;
  height:282px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:57px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:129px;
  width:253px;
  height:56px;
  font-size:16px;
  color:#FFFFFF;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:249px;
  word-wrap:break-word;
}
