body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:534px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:107px;
  width:1211px;
  height:533px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:43px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:159px;
  width:54px;
  height:42px;
  font-size:16px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:106px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:229px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:125px;
  width:21px;
  height:17px;
  color:#FFFFFF;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:53px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:107px;
  width:91px;
  height:52px;
  font-size:18px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:87px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:107px;
  width:109px;
  height:52px;
  font-size:18px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:107px;
  width:109px;
  height:52px;
  font-size:18px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:107px;
  width:109px;
  height:52px;
  font-size:18px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:158px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:158px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:175px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:177px;
  width:26px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:177px;
  width:34px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:177px;
  width:32px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:210px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:210px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:227px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:229px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:229px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:262px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:262px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:279px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:279px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:279px;
  width:42px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:314px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:314px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:331px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:332px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:332px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:366px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:366px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:383px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:385px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u56_img.mouseOver {
}
#u56.mouseOver {
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:385px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:385px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:418px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:418px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:435px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:436px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:436px;
  width:46px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:436px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:470px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:470px;
  width:233px;
  height:52px;
  font-size:18px;
  color:#FFFFFF;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:487px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:488px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:488px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:488px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u72_img.mouseOver {
}
#u72.mouseOver {
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:115px;
  width:319px;
  height:44px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:118px;
  width:210px;
  height:39px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:115px;
  width:44px;
  height:44px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:124px;
  width:27px;
  height:27px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:118px;
  width:210px;
  height:39px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  position:absolute;
  left:1031px;
  top:122px;
}
#u78_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
  background-image:none;
}
#u78_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#31A030;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1031px;
  top:122px;
  visibility:hidden;
}
#u81_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
  background-image:none;
}
#u81_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  font-size:16px;
  color:#31A030;
  text-align:left;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#31A030;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1031px;
  top:122px;
  visibility:hidden;
}
#u84_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
  background-image:none;
}
#u84_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  font-size:16px;
  color:#31A030;
  text-align:left;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#31A030;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
